*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

i{
    display: inline-block;
}

header{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px 10px 20px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

#navbar #logo, #navbar #logo a, #navbar #logo img, #navbar #search, #navbar #nav-icons{
    background-color: inherit;
}

#navbar #logo{
    width: 325px;
    height: 30px;
}

#navbar #logo img{
    height: 30px;
    padding-top: 3px;
}

#navbar #search{
    position: relative;
    width: 325px;
}

#navbar #search input{
    width: 255px;
    height: 35px;
    background-color: rgba(235, 232, 232, 0.707);
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
}

#navbar #search .placeholder{
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: large;
    color: rgb(186, 186, 186);
    pointer-events: none;
    user-select: none;
}

#navbar #search .placeholder .search{
    padding-left: 15px;
}

input:valid ~ .placeholder{
    display: none;
}

#navbar #nav-icons{
    width: 300px;
    display: flex;
    align-items: center;
}

#navbar #nav-icons i{
    padding-left: 25px;
    font-size: 23px;
}

/*------------------ SECTION STUFF -----------------*/
section{
    display: flex;
    align-items: center;
    justify-content: center;
}

section .main-container{
    margin: 20px;
    min-width: 900px;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 350px 580px;
    grid-template-rows: 60px auto;
    border: 1px solid black;
}

section .subheader{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid black;
}

section .subheader-2{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

section .subheader span{
    position: absolute;
    right: 0;
}

section .chats{
    grid-column: 1;
    grid-row: 2;
}

section .chat-space{
    grid-column: 2;
    grid-row: 2;
    border-left: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

section .chat-space input[type='text']{
    min-width: 543px;
    height: 40px;
    border-radius: 40px;
}

section .chat-log{
    display: grid;
    grid-template-columns: 60px auto 62px;
}

.chat-log .profile{
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.chat-log .profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.chat-log .name{
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
}

.chat-log .info{
    grid-column: 2;
    grid-row: 3;
    font-size: 13px;
    color: grey;
}


