<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM Application Form</title>
    style 
        include ../static/style.css
</head>
<body>
    <header>
        <nav id="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/serivces">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="offer">
                <h2>Enroll Now! Offer Closes Soon</h2>
            </div>
            <div class="form">
                <form action="/" method="post">
                    <input type="text" name="name" placeholder="Enter Your Name">
                    <input type="text" name="age" placeholder="Enter Your Age">
                    <input type="text" name="gender" placeholder="Enter Your Gender">
                    <input type="text" name="degree" placeholder="Enter Your Degree">
                    <textarea name="about" id="" cols="30" rows="10" placeholder="Enter About You"></textarea>
                    <textarea name="more" id="" cols="30" rows="10" placeholder="Enter More About You"></textarea>
                    <button class="btn">SUBMIT NOW</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>