*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(250, 250, 250);
}

a, button{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.input:focus{
    outline: none;
    border: 1px solid rgb(138, 137, 137);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 935px;
    padding-bottom: 32px;
    margin: 32px auto 0;
}

.phone{
    background-position: -46px 0;
    background-size: 468.32px 634.15px; 
    width: 380.32px;
    height: 581.15px;
    margin-bottom: 12px;
    margin-right: 32px;
    background-image: url(../static/images/login.png);
}

.inner{    
    height: inherit;
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;   
    align-items: center;
}

.name img{
    width: 175px;
    height: 51px;
    margin: auto;
    justify-content: center;
    margin: 36px 0px 12px 0px;
}

.inner-1, .inner-2{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0px;
}

.inner-1{   
    margin-top: 12px;
    padding: 10px 0px 20px 0px;
}

.inner-1 .name{
    background-color: white;
}

.inner-1 .name img{
    background-color: white;
}

.in-inner-1{
    margin-bottom: 10px;
    background-color: white;
}

.form-container{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: white;
}

.input-block{
    background-color: white;
    position: relative;
}

.box-1, .box-2{
    margin: 0 auto 6px;
    height: 36px;
    width: 254px;
}

.form-container .label{
    position: absolute;
    color: #8e8e8e;
    background-color: transparent;
    display: block;
    left: 9px;
    height: 20px;
    padding-top: 12px;
    pointer-events: none;
    font-size: 14px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    transition: all ease-out -0.3s;
    user-select: none;
    white-space: nowrap;
}

.form-container{
    padding-top: 5px;
    font-size: 12px;
}

.input{
    position: absolute;
    width: 244px;
    height: 20px;
    padding: 9px 0px 7px 8px;
    border: none;
    border-radius: 3px;
    caret-color: black;
    background-color: transparent;
    border: 1px solid rgba(219,219,219); 
}

input:valid ~ .label{
    font-size: 11px;
    transform: translateY(-8px);
}

input:valid{
    padding: 14px 0px 2px 8px;
    font-size: 12px;
}

.input:focus{
    outline: none;
}

.box-3, button{
    margin: 8px 0px 8px 0px;
    width: 254px;
    height: 30px;
    background-color: rgb(0, 149, 246);
    border: 1px solid rgb(0, 149, 246);
    border-radius: 4px;
    color: white;
    font-weight: 600;
    opacity: 0.3;
}

.box-4{
    margin: 10px 40px 18px;
    background-color: white;
    display: flex;
    align-items: center;
}

.box-4 .or{
    margin: 0px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #8e8e8e;
}

.box-4 .line-left, .line-right{
    width: 102px;
    height: 1px;
    background-color: #dbdbdb;
}

.box-5{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 8px 40px;
    background-color: white;
}

.fb-login{
    background-color: white;
    margin: 0px;
    margin-left: 8px;
}

.forgot{
    line-height: 16px;
    background-color: white;
}

.inner-2{
    padding: 10px 0px;
}

.inner-2 .no-account{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-2 a{
    margin: 5px;
    color: rgb(0, 149, 246);
    font-weight: 600;
}

.inner-2 .no-account, a{
    background-color: white;
}

.inner-3{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
}

.inner-3 p{
    margin: 10px 20px;
}

.inner-3 .download{
    margin: 10px 0px;
}

.inner-3 img{
    flex-direction: row;
}

#imgGallary {
    margin: 27px 0 0 113px;
    position: relative;
    transition: all ease-in-out 3ms;
    user-select: none;
}

.slideshow {
    height: 538.84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
    background-color: transparent;
    transition: all ease-in-out 3ms;
}

@keyframes slideshow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#imgGallary .first{
    z-index: 2;
}